body{
  width:100%;
 display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#header{
   display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-bottom:50px;
}

#title{
   font-size:35px;
  font-weight:bold;
  font-family:	Times New Roman;
  text-align: center;
  margin-bottom:5px;
}
#main{

}
text{
  font-size:12px;
}

#tooltip{
  position:absolute;
  width:300px;
  background-color:rgb(251, 205, 113,0.8);
  visibilty:visible;
}